@import "~bootstrap/scss/bootstrap";

html, body {
    height: 100%;
    background: #ffffff;
    color: white;
    padding-bottom: 100px;
  }
.content {
    width: 100%;
    height: auto;
   background: #ffffff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ffffff, #ffffff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ffffff, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
}
.navbar {
    margin-bottom: 40px;
}
li.nav-item.dropdown{
  text-align:right;
  list-style:none;
}
a {
  text-decoration: none;
  color: rgb(41, 40, 40);
}
.card {

  background-color: rgba(255, 255, 255, 0.5);
}