@import "~bootstrap/scss/bootstrap";

html, body {
    height: 100%;
    background: #cc5333;
    color: white;
    padding-bottom: 100px;
  }
.content {
    width: 100%;
    height: auto;
   background: #23074d;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #cc5333, #23074d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #cc5333, #23074d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
}
.navbar {
    margin-bottom: 40px;
}
li.nav-item.dropdown{
  text-align:right;
  list-style:none;
}
a {
  text-decoration: none;
  color: white;
}
.card {

  background-color: rgba(32,37,41, 0.5);
}